/*----section articles----*/

section.s_skills_c {
    margin: 0px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.s_skills_c .a_skill_c {
    margin: 10px 15px;
    position: relative;
    width: 350px;
    height: 500px;
    max-height: 500px;
    border: solid 1px #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.a_skill_c .article_skill_image {
    width: 100%;
    height: 197px;
    position: relative;
}

.a_skill_c .article_skill_image img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.a_skill_c .article_skill_image img.shadow {
    position: absolute;
    bottom: 0px;
    left: 0px;
    object-fit: cover;
}

.skill_id_photo_c {
    position: relative;
    top: -25px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #ffd200;
    margin: 0px 0px -15px 25px;
}

.skill_id_photo_c .skill_id_photo {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    line-height: 52px;
}

.skill_id_photo_c .skill_id_photo svg {
    width: 60%;
    height: 60%;
    vertical-align: middle;
    margin-bottom: 3px;
}

.skill_id_c {
    margin: 0px 5px 0px 25px;
    line-height: 21px;
    height: 21px;
    text-transform: capitalize;
    font-size: 1.15rem;
}

.skill_id_c h3 {
    font-weight: 600;
    color: #ffbb00;
    float: left;
}

.skill_id_c h4 {
    padding-left: 10px;
    border-left: solid 2px #f0f0f0;
    color: #383838;
    font-weight: normal;
    margin: 0px 0px 0px 10px;
    width: fit-content;
    display: inline-block;
}

.skill_id_c h4.disponible {
    color: #33a62b;
}

.skill_information_c {
    height: 149px;
    max-height: 149px;
    display: flex;
    flex-direction: column;
}

.skill_title_c {
    max-height: 72px;
    margin: 10px 25px;
    overflow: hidden;
    min-height: fit-content;
}

.skill_title_c h2 {
    color: #383838;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 24px;
    height: 100%;
    max-height: 100%;
    white-space: normal;
}

.skill_discription_c {
    width: 100%;
    min-height: 57px;
    flex: 1 1 auto;
    background-color: white;
    margin: 5px 0px 5px 0px;
    overflow: auto;
}

.skill_discription {
    height: 100%;
    padding: 0px 25px 0px 0px;
    margin: 0px 0px 0px 25px;
    font-size: 1.14rem;
    line-height: 21px;
    color: #8f8f8f;
}

.skill_location_c {
    width: 100%;
    height: 30px;
    max-height: 30px;
    line-height: 30px;
    background-color: white;
    margin: 5px 0px;
    overflow: hidden;
}

.skill_location_icon_c {
    float: left;
    margin-left: 25px;
    line-height: 33px;
}

.skill_location_icon_c svg {
    width: 11px;
    height: 15px;
    fill: #ffbb00;
}

.skill_location {
    font-size: 1.14rem;
    color: #383838;
    display: inline-block;
    text-transform: capitalize;
    margin-left: 10px;
    margin-right: 25px;
}

.skill_rating_c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    height: 57px;
    max-height: 57px;
    font-size: 0.9rem;
}

.skill_notice {
    display: none;
    margin-left: 25px;
    margin-right: 10px;
    height: fit-content;
    width: fit-content;
}

.skill_notice p {
    line-height: 21px;
    font-size: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 60px;
}

.skill_account {
    margin-left: 25px;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.skill_account img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.skill_rating_c ul {
    padding: 0px;
    height: 57px;
    align-items: center;
}

.skill_rating_list_c {
    margin: 0px 10px 0px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.skill_rating_list_c svg {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 15.6px;
    height: 11.7px;
}

.skill_rating_list_c p {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.s_skills_c .rating_star {
    background: url(../images/star@2x.png) no-repeat 50% 50%;
    background-size: 100%;
}

.s_skills_c .rating_star.checked {
    background-image: url(../images/starGold@3x.png);
}

.s_skills_c .li_icon.rating_star {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    vertical-align: middle;
}

.a_skill_c.add_new_skill_c {
    background-color: #dfdfdf;
}

.a_skill_c.add_new_skill_c > a {
    width: 100%;
    height: 100%;
    position: relative;
}

.s_skills_c .add_new_skill {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.s_skills_c  .add_new_skill_btn_c {
    width: 135px;
    height: 135px;
    line-height: 135px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.s_skills_c  .add_new_skill_btn_c svg{
    width: 60px;
    height: 60px;
    vertical-align: middle;
    fill: #dfdfdf;
}

.s_skills_c  .add_new_skill_text {
    font-size: 1.2rem;
    line-height: 24px;
    margin-top: 15px;
    font-weight: 600;
    color: #f0f0f0;
}

/*----after article----*/

#more_article_c .more_article {
    width: 100px;
    padding: 10px;
    margin: 20px auto;
    background-color: #ffd200;
    border-radius: 25px;
    cursor: pointer;
}

#more_article_c .more_article p {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    overflow: hidden;
}

/*-------------media query------------*/

/*width>=1260px*/

@media all and (min-width: 1261px) {
    section.s_skills_c {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*1260px>=width*/

@media all and (max-width:1260px) {}

@media all and (max-width:768px) {
    .s_skills_c .a_skill_c {
        width: 290px;
    }
}

/*320px>=width*/

@media all and (max-width:320px) {
    .s_skills_c .a_skill_c {
        width: 215px;
        height: 364px;
    }
    .a_skill_c .article_skill_image {
        height: 121px;
    }
    .skill_id_photo_c {
        top: -17px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background-color: #ffd200;
        margin: 0px 0px -15px 25px;
    }
    .skill_id_photo_c .skill_id_photo {
        line-height: 35px;
    }
    .skill_id_c {
        line-height: 16px;
        height: 16px;
        font-size: 1rem;
    }
    .skill_information_c {
        height: 130px;
        max-height: 130px;
    }
    .skill_title_c {
        max-height: 52px;
        margin: 5px 25px;
    }
    .skill_title_c h2 {
        line-height: 18px;
        font-size: 1.1rem;
    }
    .skill_discription_c {
        min-height: 55px;
    }
    .skill_discription {
        font-size: 0.8rem;
        line-height: 14px;
    }
    .skill_location_c {
        height: 20px;
        max-height: 20px;
        line-height: 20px;
    }
    .skill_location_icon_c {
        line-height: 23px;
    }
    .skill_location {
        font-size: 0.9rem;
    }
    .skill_rating_c {
        height: 47px;
        max-height: 47px;
        font-size: 0.8rem;
    }
    .skill_account {
        margin-left: 10px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
        max-width: 30px;
    }
    .skill_rating_list_c {
        margin: 0px 10px 0px 10px;
    }
    .skill_rating_list_c svg {
        margin-right: 5px;
        width: 10px;
        height: 8px;
    }
    .s_skills_c .li_icon.rating_star {
        width: 18px;
        height: 18px;
    }
}