#profil_main_container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 250px;
}

/*-------------detailed service----------------*/

/*---header---*/

#h_m_cover_c {
    height: 400px;
    position: relative;
}

div#h_m_c_text_c {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 25%;
}

#h_m_cover_c img {
    object-fit: cover;
    width: 100%;
    height: 400px;
}

#h_m_cover_c img.shadow_img {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

#h_m_c_text_c h2 {
    text-align: center;
    font-size: 3.5rem;
    line-height: 4rem;
    color: white;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

#h_m_c_text_c h3 {
    text-align: center;
    font-size: 1.2rem;
    line-height: 3rem;
    color: white;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    font-weight: normal;
}

/*---owner bar info---*/

#owner_bar_inf_c {
    height: 100px;
    background-color: #f0f0f0;
}

#owner_bar_inf {
    height: 90px;
    display: flex;
    margin: 5px 30px;
    float: left;
}

#o_b_image_c {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
}

#o_b_image_c img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#o_b_inf {
    margin-top: 5px;
}

#o_b_inf>div {
    margin-top: 10px;
    display: flex;
}

#o_b_inf p {
    margin-right: 15px;
}

#o_b_modify_service {
    width: fit-content;
    background-color: #33a62b;
    height: 40px;
    margin: 30px 20px 30px auto;
    border-radius: 27px;
}

#o_b_m_s_p_c {
    height: 20px;
    padding: 0px 20px;
    margin: 10px 0px;
}

#o_b_m_s_p_c p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    overflow: visible;
    color: white;
}

/*---detailed service main---*/

#detailed_service_main {
    margin: 40px 30px;
    display: flex;
}

#d_s_m_box_1 {
    flex: 1 1 30%;
    min-width: 30%;
    width: 30%;
    margin: 0px 5% 0px 0px;
}

#d_s_m_box_2 {
    flex: 1 1 65%;
    min-width: 65%;
    width: 65%;
    margin: 65;
}

/*-------------media query------------*/

@media all and (min-width: 1261px) {
}

@media all and (max-width:1260px) {

}

@media all and (max-width:1024px) {}

@media all and (max-width:768px) {
    #profil_main_container {
        margin-bottom: 750px;
        margin-top: 60px;
    }
}

@media all and (max-width:425px) {
    /*425px>=width*/
    #profil_main_container {
        margin-bottom: 750px;
        margin-top: 45px;
    }
}

@media all and (max-width:320px) {
    /*320px>=width*/
    html {
        font-size: 10px;
    }
}