#profil_main_container {
    margin-top: 60px;
    margin-bottom: 250px;
 }
 
 #err_wrapper {
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: SegoeUI, sans-serif;
    align-items: center;
 }
 
 #err_wrapper h1 {
    color: #ffd200;
    font-size: 250px;
    font-weight: bold;
    margin: 0;
    line-height: 240px;
 }
 
 #err_wrapper h2 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 90px;
    line-height: 90px;
    margin: 0em;
 }
 
 #err_wrapper h2.e404 {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #ffd200;
    text-transform: uppercase;
    margin: 0em;
 }
 
 #err_wrapper p {
    width: 464px;
    font-size: 30px;
    text-align: center;
    line-height: 40px;
 }
 
 #err_wrapper svg {
    width: 429px;
    height: 500.1px;
 }
 
 #err_wrapper a {
    background-color: #33a62b;
    color: white;
    width: 206px;
    border-radius: 30px;
    font-size: 18px;
    padding: 15px 0px;
    text-decoration: none;
    margin-top: 20px;
 }
 
 @media all and (max-width: 425px) {
    /*----header----*/
    #profil_main_container {
        margin-top: 45px;
    }
 }