/*------------extra important thing in all pages------------*/

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/segoeUi/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/segoeUi/SegoeUIBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/segoeUi/SegoeUIItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../font/segoeUi/SegoeUIBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

body a:visited {
    color: inherit;
    text-decoration: initial;
}

a:link {
    color: inherit;
    text-decoration: initial;
}

body a:-webkit-any-link {
    color: inherit;
    cursor: pointer;
    text-decoration: initial;
}

* {
    padding: 0px;
    margin: 0px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

html, body {
    height: 100%;
    max-width: 100%;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    ;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3em;
    letter-spacing: normal;
    color: black;
}

.website_container {
    position: relative;
    width: 100%;
    min-height: 100%;
}

header, nav, div {
    overflow: hidden;
}

img {
    object-fit: contain;
}

a {
    display: inline-block;
}

ul {
    padding-left: 40px;
}

p {
    overflow: auto;
    max-height: 100%;
    cursor: default;
}

.d_b {
    display: block;
}

.l_r_f {
    /*list_row_flexbox*/
    display: flex;
}

.l_no_b {
    /*list_no_bullets*/
    list-style-type: none;
}

.h_y a:hover {
    color: #ffd200;
}

.h_b a:hover {
    color: black;
}

.white {
    color: white;
}

.yellow {
    color: #ffd200;
}

.bg-yellow {
    background-color: #ffd200;
}

.grey {
    color: grey;
}

.f_w_n {
    font-weight: normal;
}

.overflow_visible {
    overflow: visible;
}

.pos_rel {
    position: relative;
}

.marge_l_auto {
    /*margin left auto*/
    margin-left: auto;
}

.marge_r_auto {
    margin-right: auto;
}

.m_0_p_0 {
    padding: 0px;
    margin: 0px;
}

.marge_TB0_LRauto {
    margin: 0 auto;
}

.li_icon {
    width: 20px;
    height: 20px;
}

.arrow_up {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}

.arrow_right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid black;
}

.stars .rating_star {
    cursor: pointer;
}

.rating_star {
    background: url(../images/star@2x.png) no-repeat 50% 50%;
    background-size: 100%;
}

.rating_star.checked {
    background-image: url(../images/starGold@3x.png);
}

.connected_symbol {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1px;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}

.connected_symbol.connected {
    background-color: #33e62b;
}

.connected_symbol.disconnected {
    box-sizing: border-box;
    border: grey solid 2px;
    border-radius: 50%;
}

.all {
    width: 100%;
    height: 100%;
}

.cursor_btn {
    cursor: pointer;
}

.none {
    display: none;
}

.mapboxgl-ctrl-geocoder .mapboxgl-ctrl {
    overflow: visible;
}

.flex {
    display: flex;
}

i {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    width: 8px;
    height: 11px;
    display: inline-block;
    margin-left: 5px;
}

.pop_up_bg {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    min-height: 100%;
    height: 100vh;
    overflow: auto;
    z-index: 6;
}

.pop_up {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translatex(-50%);
    width: 80%;
    overflow: visible;
    margin-bottom: 54px;
}

.pop_up>div {
    border-radius: 30px;
    box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);
}

.pop_up_err_c {
    background-color: #ec0f0f;
    color: white;
    line-height: 32px;
    margin-bottom: 15px;
    padding: 0px 45px;
}

.pop_up_err_c p {
    line-height: 24px;
    padding: 8px 0px;
}

.pop_up_main {
    background-color: #fff;
}

.dot {
    width: 10px;
    height: 10px;
    line-height: 10px;
    border-radius: 50%;
    background-color: #ffffff;
    display: inline-block;
    margin-right: 10px;
}

.pop_up_close_btn {
    font-size: 2rem;
    line-height: 23px;
    overflow: hidden;
    margin: 10px 20px 20px auto;
    width: fit-content;
}

.pop_up_bg hr {
    border-top: #dfdfdf 1px solid;
}

.pop_up_bg .f_main {
    margin: 0px 45px;
}

.pop_up .pop_up_title {
    margin-left: 45px;
    margin-bottom: -20px;
    font-size: 1.7rem;
    position: relative;
    top: -20px;
    line-height: 33px;
    width: fit-content;
    background-color: white;
    padding: 0px 5px;
    color: #383838;
}

.pop_up .pop_up_title b {
    color: #ffbb00;
}

.pop_up .pop_up_text {
    font-size: 1.4rem;
    line-height: 27px;
    color: #383838;
}

.pop_up .pop_up_text b {
    color: #ffbb00;
}

.pop_up .pop_up_text a {
    font-weight: bold;
    text-decoration: underline;
}

.pop_up_btn {
    width: 100%;
    text-align: center;
    font-size: 1.14rem;
    line-height: 21px;
    padding: 15px;
    background-color: #ffbb00;
    box-shadow: unset;
    border: unset;
    margin: 20px 0px;
    border-radius: 10px;
    font-weight: bold;
    color: #000;
    box-sizing: border-box;
}

.pop_up_btn.facebook {
    background-color: #4267b2;
    color: white;
    margin: 5px 0px;
}

.pop_up_btn.gmail {
    background-color: #ea4335;
    color: white;
    margin: 5px 0px;
}

.pop_up_separator_or {
    text-align: center;
    overflow: visible;
}

.pop_up_separator_or p {
    font-size: 1.4rem;
    line-height: 27px;
    position: relative;
    top: -15px;
    padding: 0px 10px;
    background-color: white;
    width: fit-content;
    margin: 0 auto;
}

.pop_up_toggle_type_connexion {
    text-align: center;
    line-height: 27px;
    font-size: 1.4rem;
    color: #383838;
    font-weight: bold;
    margin: 25px 0px;
}

.pop_up .pop_up_toggle_type_connexion a {
    color: #ffbb00;
}

.center {
    text-align: center;
}

@media all and (max-width: 1024px) {
    .pop_up_bg .f_main {
        margin: 20px 20px 0px 20px;
    }
    .pop_up .m_s_form_row {
        margin: 10px 0px;
    }
    .pop_up .flex.m_s_form_sub_row>div {
        margin-bottom: 10px;
    }
}

@media all and (max-width: 425px) {
    .pop_up .pop_up_title {
        margin-left: 25px;
        font-size: 1.4rem;
    }
    .pop_up .pop_up_text {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 320px) {
    .pop_up .pop_up_title {
        margin-left: 25px;
        font-size: 1.8rem;
    }
    .pop_up_close_btn {
        margin-bottom: 7px;
    }
    .pop_up .pop_up_text {
        margin-top: -15px;
    }
}