.f_main {
    margin: 30px 25px;
}

.p_inf.f_main {
    margin: 130px auto;
    width: 70%;
    padding: 0px 30px 20px 30px;
    border: 1px #f0f0f0 solid;
    border-radius: 10px;
}

.m_s_form_row {
    margin: 30px 0px;
}

.m_s_form_row.img_middle {
    width: 165px;
    margin: -65px auto 0px auto;
    height: 165px;
    border-radius: 50%;
}

.m_s_form_row.img_middle.inf {
    width: 120px;
    height: 120px;
}

.flex.m_s_form_sub_row {
    flex-wrap: wrap;
}

.flex.m_s_form_sub_row>div {
    flex: 1 1 45%;
    width: 45%;
}

.flex.m_s_form_sub_row>div:first-child {
    margin-right: 15px;
}

.m_s_form_row>label, .m_s_form_sub_row label {
    display: block;
    font-size: 1.2rem;
    color: #383838;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
}

.m_s_form_row>small, .m_s_form_sub_row small {
    color: #8f8f8f;
    font-size: 1.2rem;
    line-height: 24px;
}

.m_s_form_row>p{
    font-size: 1.3rem;
    color: #383838;
    line-height: 25px;
    margin: 10px 20px 20px 20px;
}

.f_main small.red {
    color: #a62b2b;
}

.f_main input[type=select], .f_main input[type=text], .f_main input[type=tel], .f_main input[type=date], .f_main input[type=password], .f_main input[type=email], .f_main input[type=number].standard,  .f_main textarea {
    height: 60px;
    line-height: 60px;
    font-size: 1.2rem;
    color: #383838;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px #dfdfdf;
    background-color: #f0f0f0;
    font-family: 'Segoe UI';
    margin-bottom: 5px;
}

.f_main input[type=select].white, .f_main input[type=text].white, .f_main input[type=tel].white, .f_main input[type=date].white, .f_main input[type=password].white, .f_main input[type=email].white, .f_main input[type=number].standard.white, .f_main textarea.white {
    background-color: #fff;
}

.f_main input[type=select].white::placeholder, .f_main input[type=text].white::placeholder, .f_main input[type=tel].white::placeholder, .f_main input[type=date].white::placeholder, .f_main input[type=password].white::placeholder, .f_main input[type=email].white::placeholder, .f_main textarea.white::placeholder {
    color: #8f8f8f
}

.f_main textarea {
    padding: 10px;
    height: 158px;
    line-height: 27px;
    resize: none;
}

@media all and (max-width:768px) {
    .f_main {
        margin: 30px 15px;
    }
    .p_inf.f_main {
        margin: 100px 15px;
        width: unset;
    }
    .f_main textarea {
        height: 100px;
    }
}

@media all and (max-width: 425px) {
    .flex.m_s_form_sub_row>div {
        flex: 1 1 100%;
        width: 100%;
    }
    .flex.m_s_form_sub_row>div:first-child {
        margin-right: unset;
    }
    .f_main input[type=select], .f_main input[type=text], .f_main input[type=password], .f_main input[type=email], .f_main textarea {
        height: 40px;
    }
}