.f_main {
    margin: 130px auto;
    width: 70%;
}

.p_inf.f_main {
    margin: 130px auto;
    width: 70%;
    padding: 0px 30px 20px 30px;
    border: 1px #f0f0f0 solid;
    border-radius: 10px;
}

.p_inf.f_main.no_border {
    border: unset;
}

.m_s_form_row {
    margin: 30px 0px;
}

.m_s_form_row.img_middle {
    width: 120px;
    margin: -65px auto 57px auto;
    height: 120px;
    border-radius: 50%;
}

.m_s_form_row.svg_middle {
    width: 94px;
    margin: -65px auto 0px auto;
    height: 94px;
    padding: 5px;
    background-color: white;
}

.m_s_form_row.img_middle.inf {
    width: 120px;
    height: 120px;
}

.flex.m_s_form_sub_row {
    flex-wrap: wrap;
}

.flex.m_s_form_sub_row>div {
    flex: 1 1 45%;
    width: 45%;
    min-width: fit-content;
}

.flex.m_s_form_sub_row>div:first-child {
    margin-right: 15px;
}

.m_s_form_row>label, .m_s_form_sub_row label {
    display: block;
    font-size: 1.2rem;
    color: #383838;
    line-height: 24px;
    margin: 0px 0px 10px 0px;
}

.m_s_form_row>small, .m_s_form_sub_row small {
    color: #8f8f8f;
    font-size: 1.2rem;
    line-height: 24px;
}

.m_s_form_row>p {
    font-size: 1.3rem;
    color: #383838;
    line-height: 25px;
    margin: 10px 20px 20px 20px;
}

.m_s_form_row>h2 {
    font-size: 2rem;
    color: #383838;
    line-height: 30px;
    margin: 10px 20px 20px 20px;
}

.f_main small.red {
    color: #a62b2b;
}

.f_main input[type=select], .f_main input[type=text], .f_main input[type=tel], .f_main input[type=date], .f_main input[type=password], .f_main input[type=email], .f_main input[type=number].standard, .no_native_date_c select, .f_main textarea {
    height: 40px;
    line-height: 40px;
    font-size: 1.2rem;
    color: #383838;
    width: 100%;
    padding: 0px 10px;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid 1px #dfdfdf;
    background-color: #f0f0f0;
    font-family: 'Segoe UI';
    margin-bottom: 5px;
}

.f_main input[type=select].white, .f_main input[type=text].white, .f_main input[type=tel].white, .f_main input[type=date].white, .f_main input[type=password].white, .f_main input[type=email].white, .f_main input[type=number].standard.white, .no_native_date_c select.white, .f_main textarea.white {
    background-color: #fff;
}

.f_main input[type=select].white::placeholder, .f_main input[type=text].white::placeholder, .f_main input[type=tel].white::placeholder, .f_main input[type=date].white::placeholder, .f_main input[type=password].white::placeholder, .f_main input[type=email].white::placeholder, .no_native_date_c select.white::placeholder, .f_main textarea.white::placeholder {
    color: #8f8f8f
}

.no_native_date_c {
    width: 100%;
    min-width: 100%;
}

.no_native_date_c select {
    width: unset;
}

.no_native_date_c select:nth-child(1) {
    flex: 1 1 30%;
}

.no_native_date_c select:nth-child(2) {
    flex: 1 1 30%;
}

.no_native_date_c select:nth-child(3) {
    flex: 1 1 40%;
}

.f_main textarea {
    padding: 10px;
    height: 158px;
    line-height: 27px;
    resize: none;
}

.form-err-c {
    margin: 20px 0px;
    border-radius: 10px;
}

.form-err-c p {
    padding: 18px 20px;
    line-height: 2rem;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.form-err-c p span::after{
    content: '';
    margin-right: 10px;
}

.form-err-c.red {
    border: solid 1px #a62b2b;
    background-color: #fff3f3;
}

.form-err-c.red p {
    color: #a62b2b;
}

.form-err-c.red p span::after{
    content: '*';
}

.form-err-c.green {
    border: solid 1px #33a62b;
    background-color: #d8ffd5;
}

.form-err-c.green p {
    color: #33a62b;
}

.form-err-c.green p span::after {
    background-image: url(../images/tick.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.form-err-c.orange {
    border: solid 1px #ffbb00;
    background-color: #fffaea;
}

.form-err-c.orange p {
    color: #ffbb00;
}

.form-err-c.orange p span::after {
    background-image: url(../images/risk.svg);
    background-repeat: no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}



@media all and (max-width:768px) {
    .f_main {
        margin: 30px 30px;
        width: unset;
    }
    .p_inf.f_main {
        margin: 100px 15px;
        width: unset;
    }
    .f_main textarea {
        height: 100px;
    }
}

@media all and (max-width: 425px) {
    .f_main {
        margin: 30px 20px;
    }
    .flex.m_s_form_sub_row>div {
        flex: 1 1 100%;
        width: 100%;
    }
    .flex.m_s_form_sub_row>div:first-child {
        margin-right: unset;
    }
    .f_main input[type=select], .f_main input[type=text], .f_main input[type=password], .f_main input[type=email], .f_main textarea {
        height: 40px;
    }
}

@media all and (max-width: 320px) {
    .f_main {
        margin: 30px 10px;
    }
}