/*------main design------*/

.li_icon {
    width: 16px;
    height: 16px;
    margin-right: 2px;
    vertical-align: middle;
}

.profil_user_name .connected_symbol {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1px;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}

.connected_symbol.connected {
    background-color: #33e62b;
}

.connected_symbol.disconnected {
    border: grey solid 2px;
    border-radius: 50%;
}

/*------------profilPage------------*/

/*----profilePageProfil----*/

#profil_main_container {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 250px;
}

/*----map----*/

.map_c {
    height: 400px;
}

/*----search----*/

#search_container {
    position: relative;
    top: -100px;
}

.search_c {
    width: 80%;
    height: 100%;
    margin: 0px auto;
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    overflow: visible;
}

.search_up {
    height: 40px;
    border-bottom: black solid 0.1px;
    font-size: 1.7rem;
    margin-bottom: -20px;
}

.search_up p {
    position: absolute;
    top: 40px;
    left: 40px;
    transform: translateY(-60%);
    background-color: white;
    padding: 0px 4px;
    overflow: visible;
}

.search_items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 44px 10px 0px 10px;
    overflow: visible;
    padding-bottom: 20px;
}

.search_items>div {
    margin: 10px;
    height: 40px;
}

.s_item {
    border: #8f8f8f solid 1px;
    border-radius: 24px;
}

.s_simple {
    flex: 1 1 20%;
}

.s_advanced {
    flex: 1 1 20%;
    display: none;
    padding-left: 40px;
}

.search_items .s_button_c {
    flex: 1 1 132px;
    max-width: 132px;
}

.search_items .s_more_c {
    flex: 1 1 35px;
    max-width: 35px;
}

.s_item input {
    width: calc(100% - 40px);
    height: 100%;
    border: none;
    display: block;
    margin-left: 40px;
}

.s_item input.none {
    display: none;
}

.s_item select {
    width: calc( 100% - 15px);
    height: 100%;
    border: none;
    margin: 0px 15px 0px 0px;
    display: block;
    color: grey;
}

.s_item select option {
    color: black;
}

.s_item input:focus, .s_item select:focus {
    outline-offset: unset;
    outline: unset;
}

div.s_keyWord_c {
    background: url("../images/hashtag_grey.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
}

div.s_location_c {
    background: url("../images/location_grey.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
}

div.s_category_c {
    background: url("../images/list_grey.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
    padding-left: 40px;
    overflow: visible;
    position: relative;
}

div.s_day_c {
    background: url("../images/day.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
    position: relative;
    overflow: visible;
}

div.s_gender_c {
    background: url("../images/gender.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
    position: relative;
    overflow: visible;
}

div.s_age_c {
    background: url("../images/age.png") no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    background-size: 11px;
    position: relative;
    overflow: visible;
}

.s_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd200;
    border-radius: 24px;
    height: 100%;
    cursor: pointer;
}

.s_button img {
    margin-right: 10px;
}

.s_button p{
    cursor: pointer;
}

#s_more_i {
    display: block;
    margin: 10.5px auto;
    cursor: pointer;
}

/*----pre footer----*/

#pre_footer_c .pre_footer {
    width: 80%;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

#pre_footer_c .pre_footer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#pre_footer_c .p_f_anchor {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: #ffd200;
    border: #ffd200 solid 3px;
    border-radius: 35px;
    text-align: center;
    padding: 20px 30px;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: rgba(2, 2, 2, 0.7);
}

/*-------------media query------------*/

/*width>=1260px*/

@media all and (min-width: 1261px) {
    .map_c, #search_container {
        max-width: 1500px;
        margin-left: auto;
        margin-right: auto;
    }
}

/*1260px>=width - NO MEDIA QUERY*/

/*1024px>=width*/

@media all and (max-width:1024px) {
    .search_items {
        overflow: visible;
    }
    .search_items .s_more_c {
        position: absolute;
        bottom: -20px;
    }
}

/*768px>=width*/

@media all and (max-width:768px) {
    #profil_main_container {
        margin-bottom: 750px;
        margin-top: 60px;
    }
    .search_c {
        width: 55%;
    }
    .s_simple {
        flex: 1 1 54%;
    }
    .s_advanced {
        flex: 1 1 40%;
    }
    .s_button {
        width: 138px;
        margin: 0px auto;
    }
    .search_items .s_button_c {
        flex: 1 1 100%;
        max-width: unset;
    }
    .search_up p {
        font-size: 1.4rem;
        left: 20px;
    }
}

/*425px>=width*/

@media all and (max-width:425px) {
    .s_advanced {
        flex-basis: 54%;
    }
    .search_c {
        width: 81%;
    }
    #profil_main_container {
        margin-bottom: 750px;
        margin-top: 45px;
    }
}

/*320px>=width*/

@media all and (max-width:320px) {
    html {
        font-size: 10px;
    }
    .search_up p {
        font-size: 1.8rem;
    }
}