/*-----------------------------mainProfilPage-----------------------------*/

/*------------profilPage------------*/

/*----profilePageProfil----*/

#profil_main_container {
    width: 100%;
    margin-top: 120px;
    margin-bottom: 250px;
}

.add_service {
    background-color: #33a62b;
    border-radius: 30px;
    text-align: center;
    width: 190px;
    max-height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto !important;
    font-size: 1.1rem;
    padding: 16.15px 0px;
}

.add_service p {
    overflow: hidden;
    white-space: nowrap;
}

#profil_header_c {
    position: relative;
    background-color: #fafafa;
    height: 170px;
    width: 100%;
    margin-bottom: 100px;
}

#profil_header {
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    height: 80%;
    display: flex;
    align-items: center;
    transform: translatey(-50%);
}

#profil_header>div {
    max-height: 100%;
}

#profil_header .photo_id_c {
    flex-basis: 140px;
    min-width: 140px;
    margin-right: 20px;
}

#profil_header .photo_id_c img {
    width: 140px;
    height: 140px;
}

#profil_header .profil_information_c {
    min-width: 50%;
    flex: 1 1 50%;
    margin-right: 20px;
}

#profil_header .profil_information_c .profil_user_name {
    position: absolute;
    top: 0px;
}

#profil_header .profil_information_c .profil_user_name h3 {
    white-space: nowrap;
}

.li_icon {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    vertical-align: middle;
}

.profil_user_name .connected_symbol {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 1px;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 50%;
}

.connected_symbol.connected {
    background-color: #33e62b;
}

.connected_symbol.disconnected {
    border: grey solid 2px;
    border-radius: 50%;
}

#profil_header .profil_information_c>ul {
    margin-top: 1rem;
    height: 109px;
    overflow: hidden;
    display: flex;
    flex-flow: wrap column;
    margin-left: -54px;
}

#profil_header .profil_information_c>ul li {
    margin-top: 7px;
    margin-left: 20px;
    max-width: calc(50% - 20px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.profil_information_c span {
    display: inline;
}

#profil_header .profil_information_c ul .li_icon {
    width: 18px;
    height: 18px;
}

#profil_header .profil_information_c ul .rating_star.li_icon {
    width: 21px;
    height: 21px;
    margin-left: unset;
}

#profil_header .profil_description {
    flex: 1 1 35%;
    min-width: 100px;
    max-width: 30%;
    margin-left: auto;
    margin-right: 10%;
}

/*-------------media query------------*/

/*width>=1260px*/

@media all and (min-width: 1261px) {
    #profil_header {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .add_service {
        position: relative;
        right: 100px;
        top: 21px;
        border-radius: 0px;
    }
}

/*1260px>=width*/

@media all and (max-width:1260px) {
    #profil_header, .add_service {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media all and (max-width:768px) {
    #profil_main_container {
        margin-bottom: 750px;
        margin-top: 64px;
    }
    .add_service {
        position: relative;
        top: 0px;
        width: 129px;
        font-size: 0.9rem;
        padding: 9px 0px;
        max-height: 40px;
        border-radius: 21px;
        height: unset;
    }
    /*----profil user header----*/
    #profil_header_c {
        height: 499px;
        margin-top: 70px;
        overflow: visible;
    }
    #profil_header {
        height: 100%;
        flex-wrap: wrap;
        transform: unset;
        top: 0;
        overflow: visible;
    }
    #profil_header .photo_id_c {
        position: absolute;
        top: -70px;
        left: 50%;
        transform: translateX(-50%);
    }
    #profil_header .profil_information_c {
        margin-top: 135px;
        flex-basis: 100%;
        margin-right: unset;
    }
    #profil_header .profil_information_c .profil_user_name {
        top: 75px;
        left: 50%;
        transform: translateX(-50%);
    }
    #profil_header .profil_information_c>ul {
        margin-top: 0rem;
        text-align: center;
        padding-left: 0px;
        height: 160px;
        margin-left: unset;
        align-items: center;
    }
    #profil_header .profil_information_c>ul>li {
        flex: 1 1 33%;
        max-height: 75px;
        width: calc(33% - 20px);
        min-width: min-content;
        white-space: normal;
        margin-left: 10px;
        margin-right: 10px;
    }
    #profil_header .photo_id_c img {
        border-radius: 22px;
    }
    #profil_header .profil_information_c>ul>li>span {
        margin: 10px 0px;
    }
    #profil_header .profil_information_c>ul>li.evaluation_profil {
        position: absolute;
        top: 90px;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        min-width: auto;
        margin-left: unset;
    }
    #profil_header .profil_description {
        max-width: 80%;
        line-height: 2rem;
        margin: 21px auto 29px 50px;
        font-size: 1.2rem;
        height: 140px;
    }
    .evaluation_profil span, .evaluation_profil b {
        display: none;
    }
    #profil_header .profil_information_c>ul>li.evaluation_profil ul {
        margin: 0 auto;
    }
    .profil_information_c span.d_b {
        display: block;
    }
}

/*425px>=width*/

@media all and (max-width:425px) {
    .add_service {
        top: -15px;
        margin-right: 10px;
    }
    #profil_header .profil_description {
        margin: 0px auto;
    }
}

/*320px>=width*/

@media all and (max-width:320px) {
    html {
        font-size: 10px;
    }
    .add_service {
        font-size: 1.2em;
        line-height: 1.4em;
    }
    #profil_header, .add_service {
        margin-left: 5px;
        margin-right: 5px;
    }
}